[submodule "RemoteOps/CS-Remote-OPs-BOF"]
	path = RemoteOps/CS-Remote-OPs-BOF
	url = https://github.com/trustedsec/CS-Remote-OPs-BOF

[submodule "NoConsolation/No-Consolation"]
	path = NoConsolation/No-Consolation
	url = https://github.com/fortra/No-Consolation

[submodule "nanodump/nanodump"]
	path = nanodump/nanodump
	url = https://github.com/fortra/nanodump

[submodule "SituationalAwareness/CS-Situational-Awareness-BOF"]
	path = SituationalAwareness/CS-Situational-Awareness-BOF
	url = https://github.com/trustedsec/CS-Situational-Awareness-BOF

